.container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  color: var(--primary-color);
}

.inputContainer h1 {
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  margin-bottom: 1.5rem;
  text-align: center;
}

.inputContainer div {
  display: flex;
  margin-bottom: 2rem;
}

.inputContainer input {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}

.inputContainer input::placeholder {
  font-size: 0.9rem;
}

.inputContainer button {
  padding: 0 1rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

/* Result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.result p {
  color: white;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.result button {
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
}

.result button.copied {
  background: #fff;
  color: var(--primary-color);
}

.noData {
  color: white;
  font-size: 1rem;
}

/* Background */
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #45388b;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 10vmin;
  height: 10vmin;
  border-radius: 10vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 5;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #583C87;
  top: 87%;
  left: 43%;
  animation-duration: 36s;
  animation-delay: -55s;
  transform-origin: -18vw 24vh;
  box-shadow: -20vmin 0 3.3421976629370747vmin currentColor;
}

.background span:nth-child(1) {
  color: #FFACAC;
  top: 39%;
  left: 100%;
  animation-duration: 312s;
  animation-delay: -365s;
  transform-origin: -3vw 4vh;
  box-shadow: 20vmin 0 3.4413284159089446vmin currentColor;
}

.background span:nth-child(2) {
  color: #E45A84;
  top: 87%;
  left: 18%;
  animation-duration: 289s;
  animation-delay: -305s;
  transform-origin: -5vw 5vh;
  box-shadow: -20vmin 0 2.701265556987204vmin currentColor;
}

.background span:nth-child(3) {
  color: #FFACAC;
  top: 38%;
  left: 12%;
  animation-duration: 379s;
  animation-delay: -152s;
  transform-origin: -23vw 7vh;
  box-shadow: -20vmin 0 3.0103367687089757vmin currentColor;
}

.background span:nth-child(4) {
  color: #E45A84;
  top: 70%;
  left: 27%;
  animation-duration: 342s;
  animation-delay: -354s;
  transform-origin: 13vw -1vh;
  box-shadow: -20vmin 0 3.1707799566778494vmin currentColor;
}

.background span:nth-child(5) {
  color: #583C87;
  top: 8%;
  left: 9%;
  animation-duration: 314s;
  animation-delay: -370s;
  transform-origin: 21vw -18vh;
  box-shadow: 20vmin 0 2.5294812854648576vmin currentColor;
}

.background span:nth-child(6) {
  color: #583C87;
  top: 67%;
  left: 12%;
  animation-duration: 297s;
  animation-delay: -180s;
  transform-origin: 12vw 8vh;
  box-shadow: 20vmin 0 3.133015243919267vmin currentColor;
}

.background span:nth-child(7) {
  color: #E45A84;
  top: 76%;
  left: 3%;
  animation-duration: 231s;
  animation-delay: -225s;
  transform-origin: 8vw -8vh;
  box-shadow: -20vmin 0 3.2235646619907516vmin currentColor;
}

.background span:nth-child(8) {
  color: #E45A84;
  top: 70%;
  left: 31%;
  animation-duration: 300s;
  animation-delay: -67s;
  transform-origin: -9vw 23vh;
  box-shadow: 20vmin 0 2.78254317804263vmin currentColor;
}

.background span:nth-child(9) {
  color: #583C87;
  top: 75%;
  left: 72%;
  animation-duration: 245s;
  animation-delay: -240s;
  transform-origin: 20vw 3vh;
  box-shadow: 20vmin 0 3.4998666746054568vmin currentColor;
}

.background span:nth-child(10) {
  color: #E45A84;
  top: 20%;
  left: 36%;
  animation-duration: 273s;
  animation-delay: -73s;
  transform-origin: 17vw -15vh;
  box-shadow: 20vmin 0 3.0652800116160916vmin currentColor;
}

.background span:nth-child(11) {
  color: #FFACAC;
  top: 83%;
  left: 31%;
  animation-duration: 189s;
  animation-delay: -391s;
  transform-origin: -18vw -19vh;
  box-shadow: -20vmin 0 3.4129141349539363vmin currentColor;
}